ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
body {
    text-align: center;
    justify-content: center;
    background-color: rgb(23 40 66);
}
p{
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: beige;

}
button {
    color: #0077ff;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    font-size: 17px;
    z-index: 1;
    border-radius: 6px;
    position: relative;
    margin-left: auto;
  }
  

  
  button:hover {
    color: rgba(239, 239, 243, 0.678);
    background-color:rgb(48, 48, 52) ;
    
  }
  
  

  
  /* Input field */
  input{
   
    width: 40%;
    padding: 10px;
    font-size: 22px;
    color: antiquewhite;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    
  }


  
  

  
 
  

